﻿@model EasyEstimation.Web.Models.SubFeatureModel

@{
    ViewData["Title"] = "SubFeatureEditView";
}

<h1>SubFeatureEditView</h1>

<h4>SubFeatureModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSubFeature">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageId" class="control-label"></label>
                <input asp-for="ImageId" class="form-control" />
                <span asp-validation-for="ImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-action="EditSubFeature"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SubFeatureView">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
