﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EasyEstimation.Web.Models.ImageUploadModel
<center>
    <h3> File Upload View</h3>
    <br>
<form enctype="multipart/form-data" method="post" asp-controller="SubFeature" asp-action="FileUpload">
    <Table>
        <tr>
            <td>
                <label asp-for="Id"></label>
            </td>
            <td>
                <input asp-for="Id" type="text">
            </td>
            </tr>
        <tr>
            <td>
                <label class="form-control"></label>
            </td>
            <td>
                <input class="form-control" asp-for="FormFile" type="file">
            </td>
        </tr>
    </Table>
    <input asp-controller="SubFeature" asp-action="FileUpload" class="btn" type="submit" value="Upload" />
</form>
</center>