﻿@model IEnumerable<EasyEstimation.Web.Models.SubFeatureModel>

@{
    ViewData["Title"] = "View";
}

<h1>SubFeatureView</h1>

<a class="btn-primary" value="EDIT" asp-action="AddRedirect" asp-controller="SubFeature">
    <input type="button" value="ADD" class="btn-primary">
</a>
<a class="btn-primary" value="EDIT" asp-action="UploadRedirect" asp-controller="SubFeature">
    <input type="button" value="UPLOAD" class="btn-primary">
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn-primary" value="EDIT" asp-action="EditRedirect" asp-controller="SubFeature" asp-route-id="@item.Id">
                        <input type="button" value="EDIT" class="btn-primary">
                    </a>
                    <a class="btn-primary" value="DELETE" asp-action="DeleteSubFeature" asp-controller="SubFeature" asp-route-id="@item.Id">
                        <input type="button" value="DELETE" class="btn-primary">
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $("document").ready($("#Edit").click(
            function () {

            }
        ))
    </script>
} 