﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyEstimation.Web.Models.SubFeatureModel
<center>
    <h1>AddSubFeature</h1>
    <form asp-action="AddSubFeature" asp-controller="SubFeature" type="post">
        <table class="table-active">
            <tr>
                <td>
                    SubFeatureName
                </td>
                <td>
                    <input id="SubFeatureName" type="text" asp-for="Name" class="form-control">
                </td>
            </tr>
            <tr>
                <td>
                    SubFeatureImageId
                </td>
                <td>
                    <input id="SubFeatureImageId" type="text" asp-for="ImageId" class="form-control">
                </td>
            </tr>
            <tr>
                <td>
                    SubFeatureDescription
                </td>
                <td>
                    <input id="SubFeatureDescription" type="text" asp-for="Description" class="form-control">
                </td>
            </tr>
        </table>
        <br>
        <br>
        <input type="submit" class="btn-primary" id="Add" value="ADD" asp-action="AddSubFeature">
    </form>
</center>

